<div class="row-fluid">
    <div class="span2">
        <div class="img">
            <img class="speakers_img" <%= speaker.picture ? 'src="' + speaker.picture + '" style="border: 1px solid black"' : 'src="img/nopic.png"' %> >
        </div>
    </div>
    <div class="span8">
        <ul class="talk_details">
            <li><h2><%= title %></h1></li>
            <li><strong>Description:</strong><%= description %></li>
            <li><strong>Speaker:</strong><%= speaker.name %></li>
            <li><strong>Date:</strong><%= date %></li>
            <li><strong>Duration:</strong><%= Math.round(duration/60) %> minutes</li>
            <li><strong>Source:</strong><%= source %></li>
            <li><strong>License:</strong><a href=<%= license %> target="_blank">Creative Commons</a></li>
            <li><a href=<%= permalink %>><strong>Download &rarr;</strong></a></li>
        </ul>
    </div>
    <div class="span2">
        <div class="player">
            <div id=<%= 'jquery_jplayer_' + id %> class="cp-jplayer" rel=<%= permalink %>></div>
            <div id=<%= 'cp_container_' + id %> class="cp-container">
                <div class="cp-buffer-holder">
                    <div class="cp-buffer-1"></div>
                    <div class="cp-buffer-2"></div>
                </div>
                <div class="cp-progress-holder">
                    <div class="cp-progress-1"></div>
                    <div class="cp-progress-2"></div>
                </div>
                <div class="cp-circle-control"></div>
                <ul class="cp-controls">
                    <li><a href="#" class="cp-play" tabindex="1">play</a></li>
                    <li><a href="#" class="cp-pause" style="display:none" tabindex="1">pause</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% $(".results, .metta_total").highlight($('.search_string').text()); %>