<% for(var i=0; i<results.length; i++) {%>
    <div class="row_item row-fluid">
        <div class="span2">
            <div class="img_div">
                <img class="speakers_img" src="<%= results[i].speaker.picture %>">
            </div>
        </div>
        <div class="span7">
            <ul class="talk_details">
                <li><h1 class="title"><%= results[i].title %></h1></li>
                <li><strong>Description:</strong><%= results[i].description %></li>
                <li><strong>Speaker:</strong><%= results[i].speaker.name %></li>
                <li><strong>Date:</strong><%= results[i].date %></li>
                <li><strong>Duration:</strong><%= results[i].duration %></li>
                <li><strong>Source:</strong><%= results[i].source %></li>
                <li><strong>License:</strong><a href=<%= results[i].license %>>Creative Commons</a></li>
                <li><a href=<%= results[i].permalink %>><strong>Download &rarr;</strong></a></li>
            </ul>
        </div>
        <div class="span2">
            <div id="<%= 'jquery_jplayer_' + results[i].id %>" class="cp-jplayer" rel="<%= results[i].permalink %>"></div>
            <div id="<%= 'cp_container_' + results[i].id %>" class="cp-container">
                <div class="cp-buffer-holder">
                    <div class="cp-buffer-1"></div>
                    <div class="cp-buffer-2"></div>
                </div>
                <div class="cp-progress-holder">
                    <div class="cp-progress-1"></div>
                    <div class="cp-progress-2"></div>
                </div>
                <div class="cp-circle-control"></div>
                <ul class="cp-controls">
                    <li><a href="#" class="cp-play" tabindex="1">play</a></li>
                    <li><a href="#" class="cp-pause" style="display:none" tabindex="1">pause</a></li>
                </ul>
            </div>
        </div>
    </div>
<% } %>